<div class="ui menu">
  
  <!-- Home Button -->
  <a class="item" routerLink="/home" routerLinkActive="active">
    Home
  </a>
  
  <!-- Security and Privacy Policy Button -->
  <a class="item" routerLink="/privacypolicy" routerLinkActive="active" style="padding-top: 21px; padding-bottom: 21px;">
    Security & Privacy Policy
  </a>
  
  <!-- Login Button -->
  <div class="right menu" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">
      <a class="ui teal button" routerLink="/loginpage" routerLinkActive="active">
        Login
      </a>
  </div>
  
</div>

<div class="ui main text container">
    <div class="mainPagetitle" style="text-align:left;">
    	<b class="mainitl">Kord Pro Privacy Policy</b>
    	<br><br>
    	<b>Effective Date</b><br><br>
    	November 26, 2016<br><br>
    	<b>Policy Objectives</b><br><br>
    	In carrying out its mandate under both the Privacy Act and the Personal Information Protection and Electronic Documents Act (PIPEDA), Kord Pro collects personal information about individuals as defined by section 3 of the Privacy Act. Kord Pro is committed to respecting the privacy rights of all individuals whose personal information has been collected by Kord Pro.<br><br>
    	Kord Pro Corporate Privacy Policy (the Policy) is an expression of Kord Pro’ commitment to adhere not only to the legislative requirements of the Privacy Act concerning the handling of personal information, but to the spirit of the Act as well. Its objective is to balance Kord Pro’ need to collect, retain, use, disclose and dispose of personal information about individuals with the right to privacy of those individuals, and to ensure that all individuals are aware of the circumstances under which their personal information will be collected, retained, used, disclosed, and disposed of by Kord Pro.<br><br>
    	All communications regarding this Policy will respect the applicable official language provisions of the Official Languages Act and supporting policies and guidelines.
    	<br><br>
    	<b>Application</b><br><br>
    	This Policy applies to the activities of Kord Pro in managing personal information that it collects during the course of mandated activities under the Privacy Act and PIPEDA and during the course of its regular administrative activities. The Policy is intended to be consistent with the legislative requirements of the Privacy Act and the Library and Archives of Canada Act to which Kord Pro has been subject since April 1, 2007.<br><br>
    	Kord Pro is committed to adhering not only to the Privacy Act to which it is subject, but also to the obligations set out in Schedule I of PIPEDA wherever possible and to the extent relevant.<br><br>
    	This Policy does not apply to the personal information of Kord Pro employees as such information is addressed in the “Kord Pro Employee Privacy Policy”.
    	<br><br>
    	<b>Policy Statement</b><br><br>
    	Kord Pro is committed to protecting the privacy, confidentiality and security of the personal information that it holds by adhering to the requirements of the Privacy Act with respect to the management of personal information. Kord Pro is equally committed to ensuring that all employees and agents of Kord Pro uphold these obligations.
    	<br><br>
    	Violation of this Policy through intent or neglect may result in disciplinary action up to and including termination of employment or association with Kord Pro. Where appropriate, legal sanctions may also be pursued.
    	<br><br>
    	<b>Policy Requirements</b><br><br>
    	Kord Pro is responsible for the personal information that it collects as a result of its mandate under the Privacy Act and PIPEDA and which it subsequently retains, uses, discloses, and destroys. Kord Pro has and will continue to develop and implement policies and practices to ensure that personal information is handled in strict accordance with the Privacy Act. Kord Pro’ Chief Privacy Officer is designated as responsible for overseeing the implementation of those policies and practices to ensure compliance, including:<br><br>
    	• providing the same and simultaneous training for all Kord Pro staff (including temporary staff and contractors) as outlined in the Employee Privacy Policy concerning the Privacy Act, this Policy and Kord Pro’ practices and expectations with respect to the handling of personal information;
    	<br><br>
    	• ensuring open, full and timely communication to employees and individuals about Kord Pro’ policies, practices and expectations with respect to the handling of personal information;
    	<br><br>
    	• the establishment of standards for classifying the sensitivity of personal information, to determine the appropriate level of security required for the information;
    	<br><br>
    	• ensuring that personal information is safeguarded from improper access, loss, use, disclosure or destruction through;
    	<br><br>
    	• the implementation of systems to ensure that only Kord Pro employees (including temporary staff) whose Kord Pro responsibilities require access to personal information, are granted access to that information;
    	<br><br>
    	• the inclusion of specific confidentiality provisions in contracts or other arrangements with third parties, which require adherence to the Privacy Act as well as to this Policy and internal procedures;
    	<br><br>
    	• ensuring procedures are in place under which individuals may request access to their personal information, request correction of their personal information, and file complaints concerning the management of their personal information;
    	<br><br>
    	• ensuring procedures are in place under which individuals are notified of an improper collection, retention, use, disclosure or destruction of their personal information; and
    	<br><br>
    	• monitoring the degree of compliance with this Policy annually and, where required, initiating action to correct any deficiencies.
    	<br><br>
    	<b>Collection of Personal Information</b>
    	<br><br>
    	Kord Pro collects personal information from individuals for various purposes, primarily relating to the investigation of complaints made under the Privacy Act and PIPEDA or relating to inquiries concerning those Acts. Kord Pro may also collect personal information for administrative reasons, e.g. to provide individuals with publications or other requested information, concerning attendees to conferences or other functions.<br><br>
    	Kord Pro commits to collecting only personal information, which is directly related to an operating program or activity of Kord Pro. Wherever possible, such information will be collected directly from the individual about whom it pertains. The amount and the type of the information collected will be limited to that necessary to fulfill identified purpose(s).<br><br>
    	When conducting investigations, a great deal of personal information is collected directly from the individual about whom it pertains, however, Kord Pro also collects personal information from other sources, including witnesses, employers, government or corporate files and records, from other third parties etc. Personal information collected for administrative reasons is often collected directly from the individual about whom the information pertains but may also be collected through a third party (e.g. an administrative assistant may provide information concerning his/her supervisor’s attendance at a conference).<br><br>
    	Kord Pro staff collecting personal information on behalf of Kord Pro will be required to be able to explain to individuals the purpose(s) for which the information is being collected or—if unable to do so—will be required to refer the individual to a designated person within Kord Pro who is able to explain the purpose(s).<br><br>
    	Full descriptions of the types of personal information collected by Kord Pro, along with the purposes for which Kord Pro collects each type of information, are described in the Treasury Board Secretariat’s (TBS) publication entitled Info Source—Sources of Federal Government Information (available at www.infosource.gc.ca).
    	<br><br>
    	<b>Consent</b>
    	<br><br>
    	Wherever possible, Kord Pro is committed to seeking the consent of individuals prior to the collection of their personal information. The form of consent may vary depending on the circumstances and the type of information being sought. Consent can be express or implied and can be provided directly by the individual or by an authorized representative. Express consent of individuals is preferable and will be sought whenever possible. Express consent can be given orally, electronically or in writing. Implied consent may be reasonably inferred from an individual’s action or inaction (i.e. providing a name and address in order to receive a publication, providing a name and telephone number in order to obtain a response to a question). When determining the appropriate form of consent, Kord Pro will take into account the sensitivity of the personal information at issue, the purposes for which it is collected, and the reasonable expectations of the individual.<br><br>
    	In the context of investigations conducted under the Privacy Act or PIPEDA, obtaining consent from an individual for the collection, use, or disclosure of personal information may not be possible, appropriate or required. Further, both the Privacy Act and PIPEDA provide for the disclosure of personal information during the course of an investigation if to do so is necessary to carry out an investigation under those Acts and/or to establish the grounds for findings and recommendations contained in the Privacy Commissioner’s report.
    	<br><br>
    	<b>Accuracy / Correction of Personal Information</b>
    	<br><br>
    	Kord Pro will not require that individuals utilize the Privacy Act in order to correct their personal information if there is no need to do so (e.g. to update the individual’s address on a mailing list). There will be instances, however, where individuals will be required to do so (e.g. the individual requests corrections to his/her personal information in an investigation file).<br><br>
    	Kord Pro staff will be required to direct individuals who wish to formally correct their personal information to Kord Pro’ Access to Information and Privacy (ATIP) Unit. When in doubt as to whether a formal request for correction is required, Kord Pro employees must consult with the ATIP Unit or refer the individual to the ATIP Unit. Information concerning the Privacy Act is found at www.priv.gc.ca.<br><br>
    	Upon receipt of a formal request for the correction of personal information, Kord Pro’ ATIP Unit will respond in accordance with the Privacy Act. A copy of ATIP’s Process and Compliance Manual can also be found at www.priv.gc.ca.<br><br>
    	Kord Pro will make every reasonable effort to ensure that personal information used in a decision-making process, which directly affects the individual to whom the information relates, is as accurate, up-to-date and complete as possible. Kord Pro will also make every reasonable effort to ensure that personal information disclosed to third parties is as accurate, up-to-date and complete as possible.<br><br>
    	Kord Pro will update personal information as necessary in order to fulfill the identified purposes either directly by contacting the individual to whom the information relates, or indirectly from other sources if Kord Pro has the authority to collect such information from a third party.<br><br>
    	In most cases, Kord Pro will rely on the individual to ensure that factual personal information is accurate, up-to-date and complete. If an individual is able to demonstrate that his/her personal information is inaccurate or incomplete, Kord Pro will amend the information as required. If appropriate, Kord Pro will send the amended information to third parties to whom the information has been disclosed.<br><br>
    	Correction of opinion will normally be made if the individual was the source of the opinion and the opinion does not concern any other individual. Corrections will not normally be made to opinions given by other individuals about the individual unless there are reasons to suspect the reliability of the source of the opinion, or if the source of the opinion agrees that the opinion was based on incorrect information.<br><br>
    	When a challenge regarding the accuracy of personal information is not resolved to an individual’s satisfaction, Kord Pro will annotate the personal information at issue with a note advising that a correction was requested but that it was not made. An individual has the right to have a document outlining his/her version on the matter included on the appropriate file. Where appropriate Kord Pro will provide a copy of that document to any person or body who was provided with the information at issue in order that the other person or body is aware of the individual’s version of the matter.
    	<br><br>
    	<b>Retention / Destruction of Personal Information</b>
    	<br><br>
    	Kord Pro is responsible for ensuring that all personal information is managed within an established life cycle. In accordance with the Privacy Act, the Privacy Regulations and the Library and Archives of Canada Act, personal information used by Kord Pro to make a decision about an individual shall be retained for at least two years after the decision was made. This allows the individual to exercise legal recourse and ensures that the individual has the opportunity to exercise all of the rights afforded him/her under the Privacy Act.<br><br>
    	Kord Pro will retain personal information in accordance with the maximum retention periods set out under the Library and Archives of Canada Act. Retention periods for specific types of personal information are set out in the TBS publication entitled Info Source—Sources of Federal Government Information (available at http://www.infosource.gc.ca).<br><br>
    	Kord Pro will ensure that proper care is taken in the retention, disposal/destruction of personal information in order to prevent its premature disposal and to ensure its timely disposal. The retention, disposition and destruction of personal information will be made in strict accordance with the Operational Security Standards on Physical Security of the Government Security Policy.<br><br>
    	Kord Pro will develop guidelines and implement procedures with respect to the retention and destruction of personal information.
    	<br><br>
    		<b>Use / Disclosure of Personal Information</b>
    	<br><br>
    	Kord Pro will not use personal information without the consent of the individual about whom the information pertains, unless to do so is for the purpose for which the information was originally collected or compiled, is consistent with that purpose, or is for a purpose for which the information may be disclosed to Kord Pro under section 8(2) of the Privacy Act. Kord Pro is committed to seeking the consent of individuals whenever possible. Kord Pro—when using personal information for a new purpose—will document the new purpose.<br><br>
    	Kord Pro will not disclose personal information outside of Kord Pro without the consent of the individual about whom the information pertains, or unless to do so is permitted by section 8(2) of the Privacy Act. In the case of a permitted disclosure, Kord Pro will endeavour to disclose only the specific information that is required under the circumstances and, wherever possible, will inform the individual about the disclosure.<br><br>
    	Access to personal information within Kord Pro will be restricted to those within Kord Pro who need the information in order to carry out their specific job duties (e.g. conduct investigations, answer inquiries, send publications). Those employees will maintain the information in the strictest of confidence and will not provide access to the information to any unauthorized persons. The level of access to personal information will be determined by Kord Pro on a need-to-know basis which will be included in relevant Kord Pro policies and guidelines.<br><br>
    	Kord Pro staff will be cautioned to avoid engaging in discussions involving personal information in any area of Kord Pro premises, or in any public or private area outside of Kord Pro (e.g. hallways, elevators, restaurants, washrooms, homes) where remarks could be overheard and which could result in the disclosure of personal information. Doing so without a legitimate reason directly related to a current job responsibility will be considered a violation of this Policy and could constitute a violation of the Privacy Act.<br><br>
    	All individuals hired under contract or other means, by Kord Pro, to conduct business for or on behalf of Kord Pro, will be required to adhere to the provisions of the Privacy Act with respect to the proper handling and protection of personal information as well as to this Policy and internal procedures. Violations of any part of the contractual agreement may result in termination of the contract.
    	<br><br>
    	<b>Safeguarding Personal Information</b>
    	<br><br>
    	Kord Pro will protect personal information from loss or theft, unauthorized access, use or disclosure, modification or destruction through appropriate administrative, technical and physical security measures and safeguards, regardless of the format in which the information is held.<br><br>
    	The level of safeguards used to protect personal information will vary depending on the sensitivity of the personal information; the amount, distribution and format of the information; and the method of storage. Kord Pro will follow the requirements of the Government Security Policy and any other security direction and/or guidance provided by the Treasury Board Secretariat, the Royal Canadian Mounted Police and the Communications Security Establishment Canada on physical and information technology security. At a minimum, methods of protection will include:
    	<br><br>
    	• controlled entry to Kord Pro premises, staff training on privacy and the protection of personal information, and limiting access to information on a “need-to-know” basis;
    	<br><br>
    	• screening and security checks of employees and prospective employees commensurate with the sensitivity of the information those employees will be handling, before they handle such information;
    	<br><br>
    	•technical measures such as passwords, audit trails, encryption, firewalls and other technical security safeguards;
    	<br><br>
    	• physical measures such as locked filing cabinets, restricted access to offices and other areas where personal information is stored.
    	Kord Pro will ensure that contractual or other means are used to provide a comparable level of protection while personal information is being processed by a third party.
    	<br><br>
    	<b>Access to Personal Information</b>
    	<br><br>
    	Kord Pro will not require that individuals utilize the Privacy Act to obtain access to their personal information if there is no need to do so. Individuals nevertheless have the right to formally request access to their personal information under the Privacy Act. Under the Access to Information Act, individuals also have the right to formally request access to information in Kord Pro files, which may contain their personal information.<br><br>
    	Kord Pro staff will be required to direct individuals who wish formal access to their personal information to Kord Pro’ Access to Information and Privacy (ATIP) Unit. When in doubt as to whether a formal request is required, Kord Pro employees must consult with the ATIP Unit or refer the individual to the ATIP Unit. Information concerning Kord Pro, the Privacy Act and the Access to Information Act is found at www.priv.gc.ca.<br><br>
    	Upon receipt of a formal request under the Privacy Act or the Access to Information Act, Kord Pro’ ATIP Unit will respond in accordance with the legislation under which the request was made. A copy of ATIP’s Process and Compliance Manual can also be found at www.priv.gc.ca.<br><br>
    	In cases of access that can be given outside of the Privacy Act and the Access to Information Act, Kord Pro will afford individuals a reasonable opportunity to review their personal information, will do so within a reasonable time frame and, if copies are requested, will provide them whenever possible. Explanations for abbreviations and codes will be provided.<br><br>
    	Personal information may be unavailable because it has been destroyed, erased or made anonymous in accordance with information retention obligations. To the extent possible, Kord Pro will inform the individual of the reasons why the personal information no longer exists.
    	<br><br>
    	<b>Complaints / Concerns</b>
    	<br><br>
    	As it is inappropriate that Kord Pro investigate its own actions with respect to its administration of the Privacy Act, complaints lodged against Kord Pro under the Act are investigated by the Privacy Commissioner, ad hoc—an individual mandated to independently investigate such complaints against Kord Pro. Given that a formal complaint mechanism is in place with respect to the Act, this section of the Policy speaks only to questions or concerns which may be raised about Kord Pro’ management of personal information.<br><br>
    	Such questions or concerns may be brought to the attention of any Kord Pro employee who is in a position to address the matter. If unable to do so, or where particular circumstances exist, the employee must refer the matter to his/her immediate supervisor or member of management staff. Where an individual is not satisfied with the results of the actions which may have been taken by Kord Pro to rectify the matter, or with the explanations given, the individual will be informed of his/her right to file a Privacy Act complaint to the Privacy Commissioner, ad hoc and will be provided direction as to how to do so.
    	<br><br>
    	<b>Roles and Responsibilities</b>
    	<br><br>
    	Employees – it is incumbent upon all employees of Kord Pro to inform themselves of their obligations under this Policy and the Privacy Act. Employees must report any and all contraventions of the Policy or the Act to their manager or to ATIP.
    	Managers and Supervisors – along with the responsibilities noted above, managers and supervisors are required to issue instructions to their staff (as necessary) in order to ensure the adherence to this Policy and the Act. They are also required to examine and/or make inquiries into any issues brought to their attention concerning this Policy and the Act. Where and as appropriate, managers and supervisors must notify, work in concert with, or refer certain matters to the Director of HR and the Departmental Security Officer.<br><br>
    	Kord Pro Chief Privacy Officer – Kord Pro Chief Privacy Officer (CPO) will provide advice and guidance to Senior Management, managers, supervisors and employees of Kord Pro with respect to the treatment of personal information within Kord Pro. The CPO will also act as the primary point of contact for individuals seeking information about Kord Pro’ handling of their personal information or who have concerns about Kord Pro’ handling of their personal information. For the purposes of this Policy, the CPO is the Director, ATIP and reports to the Privacy Commissioner of Canada.<br><br>
    	Director ATIP – in the context of this Policy—and along with the responsibilities noted in all of the above—the Director is responsible for the proper application of the Privacy Act and policies with respect to individuals’ personal information and with respect to their requests for access to their personal information under the Act.
    	<br><br>
    	<b>Monitoring &amp; Evaluation</b>
    	<br><br>
    	Measuring compliance with this policy will form part of Kord Pro internal audit program, which will conduct periodic audits within all programs and services of Kord Pro. The results of internal audits will be reported to the Privacy Commissioner.
    	<br><br>
    	<b>Related Government of Canada References</b>
    	<br><br>
    	This Policy is designed to comply with the Privacy Act and the principles of natural justice, and to express Kord Pro’ commitment to comply with the Privacy Act.
    	<br><br>
    	<b>Related Kord Pro References</b>
    	<br><br>
    	The following laws, policies and guidelines should be read in conjunction with this Policy:
    	<br><br> • Privacy Act and Privacy Regulations
    	<br><br> • Access to Information Act and Regulations
    	<br><br> • Library and Archives of Canada Act
    	<br><br> • Public Service Employment Act
    	<br><br> • Public Service Labour Relations Act
    	<br><br> • Treasury Board of Canada Policy on Privacy Protection
    	<br><br> • Treasury Board of Canada Guidelines on Privacy and Data Protection
    	<br><br> • Treasury Board of Canada Policy on the Use of Electronic Networks
    	<br><br> • Government of Canada Security Policy
    	<br><br> • The Office of the Privacy Commissioner (hereinafter referred to as the OPC) Policy on Departmental Security (when approved)
    	<br><br> • OPC Guidelines for Managing Electronic Mail
    	<br><br> • OPC Information Management Policy
    	<br><br> • OPC Policy on the Acceptable Use of Electronic Networks (when approved)
    	<br><br> • OPC Policy on Computer Workstations and Peripherals
    	<br><br> • OPC Privacy Breach Policy (when approved)
    	<br><br> • OPC Access to Information and Privacy Process and Compliance Manual
    	<br><br>
    	<b>Inquiries</b>
    	<br><br>
    	Any inquiries regarding this Policy or for further information or concerns about how Kord Pro manages the personal information that it collects, should be directed to:<br><br>
    	Johnny Simpson, Kord Pro Chief Privacy Officer. He can be reached at info@kordpro.com.
    </div>
</div>
