<div class="ui menu">
  
  <!-- Home Button -->
  <a class="item" routerLink="/home" routerLinkActive="active">
    Home
  </a>
  
  <!-- Security and Privacy Policy Button -->
  <a class="item" routerLink="/privacypolicy" routerLinkActive="active" style="padding-top: 21px; padding-bottom: 21px;" *hideItBootstrap="['xs']">
    Security & Privacy Policy
  </a>
  
   <!-- Security and Privacy Policy Button -->
  <a class="item" routerLink="/privacypolicy" routerLinkActive="active" style="padding-top: 21px; padding-bottom: 21px;" *showItBootstrap="['xs']">
    Policy
  </a>
  
  <!-- DMCA Policy -->
  <a class="item" routerLink="/dmca" routerLinkActive="active" style="padding-top: 21px; padding-bottom: 21px;">
    DMCA
  </a>
  
  <!-- Login Button -->
  <div class="right menu" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">
      <a class="ui teal button" routerLink="/loginpage" routerLinkActive="active">
        Login
      </a>
  </div>
  
</div>

<div class="ui main text container">
  <h1 class="ui center aligned teal header">
    KordPro
  </h1>
  <p>
    Welcome to KordPro!  KordPro is a fun social network that allows you to create, view and update all your Chord Pro files.
    In addition, you can view anyone's public chord sheets!
  </p>
  
  <div class="ui segment" *ngFor="let chordProSheet of chordProSheetViews">
    <div (click)="chordProSheet.visible = !chordProSheet.visible">
      <h3 class="ui left aligned header">
        {{chordProSheet.chordProSheet.title}}
      </h3>
      <p> <span style="font-weight: 900;">Owner: </span>{{chordProSheet.chordProSheet.owner}}</p>
      <p> <span style="font-weight: 900;">Version: </span>{{chordProSheet.chordProSheet.versionNumber}}</p>
      <p> <span style="font-weight: 900;">Modified: </span>{{chordProSheet.chordProSheet.revisedDate}}</p>
      <button class="ui button" (click)="viewFullScreen(chordProSheet.chordProSheet.title, chordProSheet.chordProSheet.owner)">
        View
      </button>
      <button class="ui button" (click)="viewVersions(chordProSheet.chordProSheet.title, chordProSheet.chordProSheet.owner)">
        Versions
      </button>
      <div [innerHTML]="chordpro.format(chordProSheet.chordProSheet.content).html" *ngIf="chordProSheet.visible"></div>
    </div>
  </div>
  
</div>
