<div class="ui menu">
  
  <!-- Home Button -->
  <a class="item" routerLink="/home" routerLinkActive="active">
    Home
  </a>
  
  <!-- Security and Privacy Policy Button -->
  <a class="item" routerLink="/privacypolicy" routerLinkActive="active" style="padding-top: 21px; padding-bottom: 21px;">
    Security & Privacy Policy
  </a>
  
  <!-- Login Button -->
  <div class="right menu" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">
      <a class="ui teal button" routerLink="/loginpage" routerLinkActive="active">
        Login
      </a>
  </div>
  
</div>

<div class="ui main text container">
  <h1 class="ui center aligned teal header">
    KordPro
  </h1>
  <p>
    Welcome to KordPro!  KordPro is a fun social network that allows you to create, view and update all your Chord Pro files.
    In addition, you can view anyone's public chord sheets!
  </p>
  
  <div class="ui segment" *ngFor="let chordProSheet of chordProSheets">
    <h3 class="ui left aligned header">
      {{chordProSheet.title}}
    </h3>
    <p> <span style="font-weight: 900;">Owner: </span>{{chordProSheet.owner}}</p>
    <p> <span style="font-weight: 900;">Private: </span>{{chordProSheet.isPrivate}}</p>
    <p> <span style="font-weight: 900;">Version: </span>{{chordProSheet.versionNumber}}</p>
    <p> <span style="font-weight: 900;">Modified: </span>{{chordProSheet.revisedDate}}</p>
  </div>
  
</div>
