<div class="ui menu">
  
  <!-- Home Button -->
  <a class="item" routerLink="/loggedinhome" routerLinkActive="active">
    Home
  </a>
  
  <!-- Security and Privacy Policy Button -->
  <a class="item" routerLink="/privacypolicy" routerLinkActive="active" style="padding-top: 21px; padding-bottom: 21px;">
    Security & Privacy Policy
  </a>
  
  <!-- DMCA Policy -->
  <a class="item" routerLink="/dmca" routerLinkActive="active" style="padding-top: 21px; padding-bottom: 21px;">
    DMCA
  </a>
  
  <!-- Logout Button -->
  <div class="right menu" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px;">
      <a class="ui teal button" (click)="logout()">
        Logout
      </a>
  </div>
  
</div>