<app-loggedinmenu></app-loggedinmenu>

<div class="ui main text container" style="padding-top: 10px">
  <h1 class="ui teal header">
    {{editpageTitle}}
  </h1>
  
  <!-- Form -->
  <div class="ui form" [class.error] = "errorHappened" [class.warning] = "warningHappened">
    
    <!-- Error Message -->
    <div class="ui error message">
      <div class="header">Error</div>
      <ul class="list">
        <li *ngFor="let error of errorMessage">
          {{error}}
        </li>
      </ul>
    </div>
    
    <div class="ui warning message">
      <div class="header">Warning</div>
        <ul class="list">
          <li *ngFor="let warning of warningMessage">
            {{warning}}
          </li>
        </ul>
    </div>
    
    <!-- Chord Sheet Name -->
    <div class="field">
      <label>Chord Sheet Name:</label>
      <input type="text" [(ngModel)]="chordSheetName">
    </div>
    
    <!-- ChordPro File Upload -->
    <div class="field">
      <label>Upload ChordPro File:</label>
      <input type="file" (change)="fileUpload($event)">
    </div>
  
    <!-- Manual ChordPro Input Field -->
    <div class="field" *ngIf="fileUploaded">
      <label>Manually Enter ChordPro File:</label>
      <textarea [(ngModel)]="typedChordSheet" (keyup)="onKey($event)"></textarea>
    </div>
    
    <!-- Save and Clear Buttons -->
    <button class="ui primary button" (click)="save()">
      Save
    </button>
    <button class="ui button" (click)="clear()">
      Clear
    </button>
    
    <!-- Privacy Checkbox -->
    <div class="ui checkbox" style="margin-left: 20px;">
      <input type="checkbox" [(ngModel)]="privacyOption" name="privacyOption">
      <label>Make private</label>
    </div>
  </div>
  
  <div class="ui segment">
    <div [innerHTML]="chordpro.format(typedChordSheet).html"></div>
  </div>
  
</div>


